@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    

*{
    font-family: 'Poppins', sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}
.t a {
    text-decoration: none;
    color:darkgrey;
  
   margin: auto;
  
    display:inline-table ;
    padding-left: 200px;

padding-top: 100px;
  
}
.t :hover{
    color: aliceblue;
}
.footer{
    background-color: black;
   padding-bottom: 300px;
    }
    .fr{
        color: #e71d36;
  
    }
    .privacy {


        background-color: black;
        color: #e71d36;
           width: 100%;
           display: flex;
           z-index:999 ;
           justify-content: space-between;
           align-items: center;
           padding: 10px 200px;
          
           text-transform: uppercase;
       }